@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.cw{
    font-size: $fz-s;
    line-height: 24px;
}

.title-s{
    font-size: $fz;
    line-height: 26px;
    font-weight: bold;
    @include mobile{
        font-size: $fz-s;
        line-height: 24px;  
    }
}

.title{
    font-size: $fz-m;
    line-height: 29px;
    @include mobile{
        font-size: $fz-s;
        line-height: 24px;  
    }
}

.title-m{
    font-size: $title-s;
    line-height: 35px;
    @include mobile{
        font-size: $fz;
        line-height: 26px;  
    }
}

.title-l{
    font-size: $title-m;
    line-height: 46px;
    font-weight: bold;
    @include mobile{
        font-size: $title-s;
        line-height: 35px;  
    }
}

.title-xl{
    font-size: $title-l;
    line-height: 70px;
    font-weight: bold;
    @include mobile{
        font-size: $title-m;
        line-height: 46px;  
    }
}