//顏色
$color-primary: #56C4C5;
$color-sec: #FFD153;
$color-danger:#FF5D50;
$color-lightgrey:#F5F5F5;
$color-darkgrey:#747474;
$color-white:#fff;


//字體大小
$fz-s: 16px;
$fz: 18px;
$fz-m: 20px;
$title-s: 24px; 
$title: 28px;
$title-m: 32px;
$title-l: 48px;

//mixin
@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

//圖片取代文字
@mixin text-logo {
    text-indent:101%; 
    overflow: hidden;
    white-space: nowrap;
}