
body{
    font-family: 'Noto Sans TC', sans-serif;
}

.container{
    max-width: 1088px;
    margin: 0 auto;
    @include mobile{
        padding: 0 20px;
    }
}

//header
.header{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg) no-repeat;
    background-position: top right;
    background-size: 65%;
    .nav{
        width: 100%;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            @include text-logo;
            background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/logo.png?raw=true) no-repeat;
            background-size: cover;
            width: 218px;
            height: 40px;
            a{
                display: block;
                width: 218px;
                height: 40px;
            }
            
        }
        @include mobile{
            background-color: $color-white;
            border-bottom: 2px solid $color-sec;
            position: fixed;
            padding: 16px 20px;
            .logo{
                width: 130px;
                height: 24px;  
            }
        }
    }

    .banner{
        padding-bottom: 217px;
        padding-top: 104px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .banner-info{
            .title-s{
                color: $color-primary;
            }
            .title-xl{
                padding: 8px 0 16px 0;
            }
        }
        .banner-pic{
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg) no-repeat;
            width: 532px;
            height: 534px;
        }

    }

    .top{
        position: fixed;
        bottom: 23px;
        right: 48px;
        z-index: 10;
        a{
            display: block;
            font-size: $fz;
            font-weight: bold;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 50%;
            padding: 26px 16px;
        }

    }

    @include mobile{
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg) no-repeat;
        background-position: bottom 98px center;
        background-size: 90%;
        .banner{
            padding-bottom: 98px;
            flex-direction: column;
            justify-content: flex-start;
            .banner-info{
                padding-bottom: 32px;
            }
            .banner-pic{
                background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg) no-repeat;
                width: 305px;
                height: 305px;
            }
        }
        .top{
            bottom: 16px;
            right: 16px;
            z-index: 10;
            a{
                display: block;
                font-size: 14px;
                padding: 18px 10px;
            }
    
        }
    }
}

//三大平台
.socialmedia{
    text-align: center;
    padding-bottom: 100px;
    .title-l{
        padding-bottom: 48px;
    }
    .sm-list{
        display: flex;
        gap: 134px;
        .sm-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sm-img{
            width: 90px;
            height: 90px;
        }
        .title-m{
            padding: 24px 0;
            font-weight: bold;
        }
        .cw{
            color: $color-darkgrey;
        }
    }

    @include mobile{
        .title-l{
            padding-bottom: 32px;
        }
        .sm-list{
            flex-direction: column;
            gap: 24px;
            .title-m{
                padding: 16px 0;
            }
        }
    }
}

//客戶角色
.client{
    padding-bottom: 100px;
    text-align: center;
    .title{
        padding: 16px 0 48px 0;
    }
    .client-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap:16px;
        .client-item{
            width: 100%;
            .client-info{
                height: 128px;
            }
            .client-title{
                padding: 16px 0;
                color: $color-primary;  
            }
        }
    }
    @include mobile{
        padding-bottom: 60px;
        .client-list{
            flex-direction: column;
            align-items: center;
            gap:24px;
            .client-item{
                width: 260px;

            }
        }
    }

}

//客戶服務
.service{
    text-align: center;
    padding-bottom: 100px;
    .service-content{
        display: flex;
        align-items: center;
        .service-list{
            width: 52%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .service-item{
                margin-bottom: 28px;
                margin-right: 47px;
                text-align: left;
                width: 230px;
                padding:32px 32px 0 32px;
                height: 280px;
                .service-img{
                    width: 86px;
                    height: 86px;
                    line-height: 86px;
                    text-align: center;
                    border-radius: 50%;
                }
                .service-title{
                    padding: 16px 0 24px 0;
                    font-weight: bold;
                }
            }
        }
        .service-info{
            text-align: left;
            padding-left: 137px;
            .title-s{
                font-weight: normal;
                padding: 16px 0 24px 0;
            }
        }

    }
    @include mobile{
        padding-bottom: 60px;  
        .service-content{
            flex-direction: column-reverse;
            .service-list{
                width: 100%;
                justify-content: center;
                .service-item{
                    margin-bottom: 24px;
                    margin-right: 0;
                }
            }
            .service-info{
                text-align: center;
                padding-left: 0;
                .btn{
                    padding-bottom: 32px;
                }
            }
        }
    }
}

//好評如潮
.feedback{
    padding-bottom: 100px;
    .title-l{
        text-align: center;
        padding-bottom: 48px;
    }
    .feedback-content{
        padding: 60px 6px 0 6px;
    }
    .feedback-list{
        overflow: visible;
        display: flex;
        .feedback-item{
            overflow: visible;
            background-color: $color-white;
            padding: 48px 32px 24px 32px;
            position: relative;
            height: initial;
            .fb-pic{
                position: absolute;
                top:-50px;
                border-radius: 50%;
                img{
                    width: 80px;
                    height: 80px;
        
                }
            } 
        }

        hr{
            border: none;
            border-bottom: 2px solid $color-lightgrey;
            margin:  24px 0;
        }
        .fb-info{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .fb-title{
                font-weight: bold;
                padding-bottom: 8px;
            }
            .star-list{
                display: flex;
                li{
                   width: 16px;
                   height: 16px;
                   background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_star.svg) no-repeat; 
                   background-size: cover;
                }
            }
        }
    }
    .swiper-pagination {
        position: static;
        margin-top: 24px;
    }
    @include mobile{
        padding-bottom: 60px;
    }

}

// 美好用戶體驗
.projectfee{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg) no-repeat;
    background-position: top center;
    background-size: 100%;
    text-align: center;
    padding: 260px 0 100px 0;
    .title-l{
        padding-bottom: 48px;
        font-weight: bold;
    }
    @include mobile{
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg) no-repeat; 
        background-size: 100%;
        padding: 293px 0 60px 0;
    }
}


//footer
.footer{
    background-color: $color-lightgrey;
    text-align: center;
    .copyright{
        padding: 16px 0;
    }
}


